<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Expense</title>
</head>
<body>
<h2>Add Expense</h2>
<form action="/expenses/add" method="post" th:object="${expense}">
    <label>Description: <input type="text" th:field="*{description}" /></label><br/>
    <label>Amount: <input type="text" th:field="*{amount}" /></label><br/>
    <label>Category:
        <select th:field="*{category}">
            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name}"></option>
        </select>
    </label><br/>
    <label>Date: <input type="date" th:field="*{date}" /></label><br/>
    <input type="submit" value="Add Expense"/>
</form>
</body>
</html>