<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expense List</title>
</head>
<body>
<h2>Expense List</h2>
<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense : ${expenses}">
        <td th:text="${expense.description}"></td>
        <td th:text="${expense.amount}"></td>
        <td th:text="${expense.category.name}"></td>
        <td th:text="${expense.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>